:host {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 7em auto;
  grid-template-rows: 3em auto;
  grid-template-areas:
    'left-menu top-menu top-menu top-menu'
    'left-menu content content content';
}

cal-top-menu {
  grid-area: top-menu;
  position: relative;
}

cal-left-menu {
  grid-area: left-menu;
  position: relative;
}

cal-content {
  grid-area: content;
  position: relative;
  z-index: 2;
  box-shadow: 1px 1px 4px 0px;
}
